doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        title 게시글 작성
    body
        
        form(method="post")
        table#attendtable
            caption= "출결확인"
            tr 
                th 번호
                th 이름
                th 수업 반
                th 차량 반
                th 출결 여부
            each i,index in name 
                tr
                    input(type="hidden" class="name" value=i.name)
                    td= index+1
                    td= i.name
                    td= i.class 
                    td= i.car
                    td#hi(width="150")
                        select(name="test" class="hi")
                            option(value="select") 출결여부를 선택해주세요
                            option(value="출석") 출석
                            option(value="결석") 결석

        input#count(type="hidden" value=count)

        br
        br
        a#write(href="#") 입력
        br
        br
        a(href="/board") 돌아가기
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="/javascripts/post_attend.js")


            //- h1= i.id
            //- h1= i.name
            //- h1= i.class
            //- h1= i.car 
            
        